@page "/"
@using GameStore.Frontend.Clients

<PageTitle>Game Catalog</PageTitle>

@if(games is not null)
{
  <table class="table table-bordered table-hover">
  <thead class="table-dark">
    <tr>
      <th>Name</th>
      <th>Genre</th>
      <th>Price</th>
      <th>Release Date</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    @foreach (var game in games)
    {
      <tr>
        <td>@game.Name</td>
        <td>@game.Genre</td>
        <td>@game.Price.ToString("C2")</td>
        <td>@game.ReleaseDate.ToString("MMMM dd, yyyy")</td>
        <td></td>
      </tr>
    }
  </tbody>
</table>
}
else
{
  <p><em>Loading...</em></p>
}

@code{

    private GamesClient gamesClient = new GamesClient();
    private GameSummary[]? games;

    protected override void OnInitialized()
    {
        games = gamesClient.GetAllGames();
    }
}